//Importando do site google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$grey: #445964;
$darkGrey: #263138;
$softGrey: #DFDFDF;
$corFundo: #F8F8F8;

*{
    padding: 0;
    margin: 0;
}
div.fullContainer{
    background-color: $corFundo;
}
div.divNav{
    background-color: #FFF;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    nav{
        align-items: center;
        div.navLogo{
        display: flex;
        align-items: center;
        margin-left: 1vw;   
        justify-content: flex-start;
            h1{
                margin-left: 2vw;
                margin-top: 2.5vh;
                font-family: "Roboto";
                color: $grey;
                font-weight: 700;
            }
            img{
                height: 8vh;
            }
        }
    }
        ul{
        display: flex;
        justify-content: flex-end;
        li{
            list-style: none;
            a{
                p{
                    font-size: 3vh;
                    font-weight: 400;
                    text-decoration: none;
                    color: $grey;
                }
            }
        }
        } 
    
    div.navCores{
        display: flex;
        align-items: center;
        p{
            margin-left: 1vw;
            margin-right: 1vw;
            font-size: 4.5vh;
            color: $grey;
        }
        }
    }
  
  
section.entradaSite{
    display: flex;
    gap: 30vw;
    height: 100vh;
    flex-wrap: wrap;
    padding-top: 20vh;
    div.btnRedes{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
    }
    div.entradaSite{ 
        margin-left: 6vw;
        div.entradaApresentacao{
            margin-top: 5vh;
        }
        h2{
            font-size: 6vh;
            font-weight: 400;
            font-family: "Roboto";
            color: $grey;
        }
        h1{
            font-size: 7vh;
            font-weight: 600;
            color: $grey;
            font-family: "Roboto";
        }
        div.divBtn{
            display: flex;
            justify-content: center;
            button{    
                border-radius: 20px;
                font-size: 3vh; 
                height: 10vh;
                width: 20vw;
                font-weight: 700;  
                background-color: $darkGrey;
            }
        }
        div.divRedes{
            display: flex;
            gap: 2vw;
            justify-content: center;
            margin-top: 1vh;
            i{
                font-size: 5.5vh;
                color: $grey;
            }
        }
        
    }
    div.entradaSite02{
        display: flex;

        img{
            border-radius: 50%;
            height: 37vw;
        }
    }
}