//Importando do site google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$grey: #445964;
$darkGrey: #263138;
$softGrey: #DFDFDF;
$corFundo: #F9F9F9;

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: $corFundo;
}
nav{
    display: flex;
    align-items: center;
  
    div.navLogo{
      display: flex;
      align-items: center;
      margin-left: 1vw;
      gap: 1vw;
        h1{
            margin-top: 3vh;
            font-family: "Roboto";
            color: $grey;
            font-weight: 700;
        }
        img{
            height: 8vh;
        }
    }
  
    ul{
      display: flex;
      flex-direction: row;
      li{
        list-style: none;
        a{
            p{
                font-size: 3vh;
                font-weight: 400;
                text-decoration: none;
                color: $grey;
            }
        }
      }
    } 
  
   div.navCores{
      display: flex;
      align-items: center;
      p{
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 4.5vh;
        color: $grey;
      }
    }
  }
  
  
section.apresentacao{
    display: flex;
    margin-top: 10vh;
    gap: 35vw;
    flex-wrap: wrap;
    div.apresentacaoEquipe01{ 
        margin-left: 4vw;
        button{
            
            background-color: $darkGrey;
        }
        h2{
            font-size: "Roboto";
        }
    }
    div.apresentacaoEquipe02{
        img{
            border-radius: 50%;
            width: 25vw;
        }
    }
}