*{
    padding: 0;
    margin: 0;
}
body {
    line-height: 1.6;
    color: #facc15;
}
div#resumoProfissional{
    background-color: #1e293b;
    height: 1vh;
}
#leituras, #formacoes, #sobreMim, #habilidadesProjetos, #contatos{
    background-color: #1e293b;
    height: 9vh;
}
#contatos{
    border-top: 2px solid #facc15;
}
/* Estilo do Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1e293b;
    color: #facc15;
    padding: 15px 0;
    border-bottom: 2px solid #facc15;
}
div.col{
    margin-top: 4em;
}
header h4 {
    font-weight: bold;
}

header nav a {
    color: #facc15;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #f3f3f3;
}

header .navbar-toggler {
    color: #facc15;
}


/* Seções */
section {
  
    background-color: #1e293b;
}

h1, h2, h3, h4, h5 {
    color: #facc15;
}

p {
    color: #f3f4f6; 
}

a.btn {
    background-color: #facc15;
    color: #1e293b;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.btn:hover {
    color: #facc15;
    border: 2px solid #facc15;
}

/* Imagem de perfil */
#sobreMim img {
    border: 5px solid #1e293b;
}
footer {
    background-color: #1e293b;
}
footer a i{
    padding: 0.3em;
}
p{
    font-size: 1.2em;
}
section.sobre img{
    width: 35%;
}
/* Ajustes do carrosel feito em bootstrap */
@media (max-width: 950px) {
    .carousel-item img {
        margin: auto;
    }
    section.sobre img{
        width: 45%;
    }
    /* Estilo das setas do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    width: 4rem;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    font-size: 4rem;
    font-weight: bold;
}

}
